name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup `wasmtime`
      uses: bytecodealliance/actions/wasmtime/setup@v1
    - name: Install cargo-wasip1
      run: rustup target add wasm32-wasip1
    - name: Build
      run: cargo build --target wasm32-wasip1 --release --features tracing
    # - name: Run tests
    #   run: cargo wasi test --all
