name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  WASI_SDK_VERSION: "25"

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            wasi_sdk_platform: linux
          - os: macos-latest
            wasi_sdk_platform: arm64-macos

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup wasmtime
      uses: bytecodealliance/actions/wasmtime/setup@v1

    - name: Add wasm32-wasip1 target
      run: rustup target add wasm32-wasip1

    - name: Cache WASI SDK
      id: cache-wasi-sdk
      uses: actions/cache@v4
      with:
        path: .wasi-sdk
        key: wasi-sdk-${{ env.WASI_SDK_VERSION }}-${{ matrix.wasi_sdk_platform }}

    - name: Install WASI SDK
      if: steps.cache-wasi-sdk.outputs.cache-hit != 'true'
      run: |
        curl -LO https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-${{ env.WASI_SDK_VERSION }}/wasi-sdk-${{ env.WASI_SDK_VERSION }}.0-${{ matrix.wasi_sdk_platform }}.tar.gz
        tar xzf wasi-sdk-${{ env.WASI_SDK_VERSION }}.0-${{ matrix.wasi_sdk_platform }}.tar.gz
        mv wasi-sdk-${{ env.WASI_SDK_VERSION }}.0-${{ matrix.wasi_sdk_platform }} .wasi-sdk

    - name: Build
      env:
        WASI_SDK_PATH: ${{ github.workspace }}/.wasi-sdk
        CC: ${{ github.workspace }}/.wasi-sdk/bin/clang
      run: cargo build --target wasm32-wasip1 --release

    - name: Run tests
      env:
        WASI_SDK_PATH: ${{ github.workspace }}/.wasi-sdk
        CC: ${{ github.workspace }}/.wasi-sdk/bin/clang
      run: cargo test --target wasm32-wasip1
